*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 84vh;
    padding: 40px;
    border: 1px solid #F69CB6F6;
    background-color: #ffe5ec;
}
