
.btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.add-btn{
        background-image: linear-gradient(to right, #FF70A6 0%, lightpink 51%, #FF70A6  100%);
        transition: 0.3s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border:0;
        display: block;
        width: 16vw;
        height: 35px;
        border-radius: 12px;
        font-size: 1em;
        margin-bottom: 18px;
        font-weight: bolder;
}

.add-btn:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.add-btn:active{
    box-shadow: none;
    transform: translateY(4px);
}


.input{
    min-height: 30px;
    width: 100%;
    border:0;
    outline: 0;
    margin: 0;
    font-size: 14px;
    background-color: transparent;
}
.save-btn:hover{
    background-color: #4cc9f0;
    cursor: pointer;
}

.add-plan.pink{
    width: 80%;
    border-radius: 1rem;
    box-shadow: 3px 8px 18px -4px rgba(229, 147, 147, 0.68);
}

.save-btn{
    width: 60px;
    height: 30px;
    border-radius: 12px;
    border:0;
    background-color: #FF70A6;
    color:#fff;
    font-size: 14px;
    margin-left: 210px;
}

.save-btn:active{
    box-shadow: none;
    transform: translateY(4px);
}


@media screen and (max-width: 960px){
    .add-plan{
        width: calc(33% - 12px);
    }
}
@media screen and (max-width: 720px){
    .add-plan{
        width: calc(50% - 12px);
    }
}
@media screen and (max-width: 414px){
    .add-plan{
        width: 100%;
    }
}
